{
  "presets": [
    "es2015",  // babel-preset-es2015
    "react"    // babel-preset-react
  ],

  "plugins": [
    // babel-plugin-module-resolver
    // nodeで実行したときにパスを解決するために必要
    ["module-resolver", {"root": ["./src"]}],

    // babel-plugin-resolve-bower-module
    // bowerを使用するときに必要
    "resolve-bower-module"
  ],

  "compact": false,

  "ignore": [ "node_modules", "bower_components" ],

  "env": {
    "test": {
      "presets": [
        // babel-preset-power-assert
        // power-assert用変換
        "babel-preset-power-assert"
      ],

      "plugins": [
        // babel-plugin-istanbul
        // カバレッジ用のinstruments追加
        ["istanbul", {
          "exclude": [ "spec/**/*.js" ]
        }]
      ]
    }
  }
}
